h2, p {
    margin: 0;
}

body {
    background-image: url("images/bg.png");
    /* background-repeat: no-repeat; */
    background-position: center;
    color: white;
}

.card {
    text-align: center;
    width: 300px;
    margin: 0 auto;
}

.wrap {
    /* width: 285px; */
    background-color: #92562d;
    text-align: left;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 10px 4px rgba(75, 39, 13, 1);
}


.text {
    font-weight: bold;
    margin: 0 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.title {
    color: #fff;
    font-size: 30px;
}

.text p {
    color: #dfbba4;
    overflow-wrap: break-word;   
    line-height: 23px; 
    padding: 10px 0;
}